<link href="/vendor/polymer/polymer.html" rel="import">
<!--
/**
	* pook-form wraps pook form submission
	*
	* uses xhr to submit, and handles display of validation errors
	* @event beforeSubmit(xhr, form) fires before xhr.send. Use it to hook up progress, etc.
	* @event success(xhr) fires on successful completion
	* <form is='pook-form' action="/auth/login" method="post">
	*
	* @element pook-form
 */
-->
<polymer-element name='pook-form' extends='form' on-submit="{{submitHandler}}">
	<template>
		<content></content>
	</template>
	<style>
		.error {
			display: inline-block;
			color: #A94442;
			background-color: #F2DEDE;
			border-color: #EBCCD1;
			margin-left: 24px;
		}
	</style>
	<script>
	(function() {
		"use strict";
			var PookFormProto = Object.create(HTMLFormElement.prototype);

			PookFormProto.submitHandler = function(ev) {
				ev.preventDefault();
				var form = this;
				var xhr = new XMLHttpRequest();
				this.clearErrors();
				xhr.onload = function(e) {
					switch(this.status) {
						case 200:
							form.fire('success', xhr);
							break;
						case 422:
							form.display422error(e.target, form);
							break;
						default:
							form.displayUnexpectedError(e.target);
							break;
					}
				};
				form.fire('beforeSubmit', xhr);
				xhr.open(form.method, form.action);
				var fd = unwrap(new FormData(form));
				xhr.send( fd);
			};

			PookFormProto.clearErrors = function() {
				var flash = document.querySelector('pook-flash');
				if (flash)
					flash.clear();
				var errors = this.querySelectorAll('.error');
				for (var i=0; i<errors.length; i++)
					errors[i].parentNode.removeChild( errors[i]);
			};

			PookFormProto.display422error = function(xhr, form) {
				try {
					var resp422 = JSON.parse(xhr.response);
					var flash = document.querySelector('pook-flash');
					flash.error = resp422.errMsg;
					for (var p in resp422.formMessages) {
						var input = form.querySelector('[name="' + p + '"]');
						var errDiv = document.createElement('div');
						errDiv.className = "error";
						errDiv.textContent = resp422.formMessages[p];
						input.parentNode.appendChild(errDiv);
					}
				}
				catch(err) {
					console.error("Unexpected error processing 422", err);
				}
			};

			PookFormProto.displayUnexpectedError = function(xhr) {
				var flash = document.querySelector('pook-flash');
				flash.error = "Unexpected error submitting form: " + xhr.status;
				console.error(xhr);
			};

			Polymer('pook-form', PookFormProto);

	})();
	</script>
</polymer-element> 
