doctype html
html(ng-app='notesApp')
  head
    title Angular tests
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/v/angular.min.js")
    style.
      .done { 
        background-color: green;
        }
      .pending {
        background-color: red;
      }
  body(ng-controller='MainCtrl as ctrl') 
    div(ng-repeat='note in ctrl.notes' ng-class='ctrl.getNoteClass(note.done)')
      span.label {{note.label}} 
      span.assignee( ng-show='note.assignee', ng-bind='note.assignee')
    script.
      angular.module('notesApp',[])
        .controller('MainCtrl', [ function() {
          this.notes = [
          { id: 1, label: 'First', done: false, assignee: 'Shyam'},
          { id: 2, label: 'Second', done: false},
          { id: 3, label: 'Third', done: true},
          { id: 4, label: 'Fourth', done: false, assignee: 'Brad'},
          ]
          this.getNoteClass = function(status) {
            return {
              done: status,
              pending: !status
            }
          }
        }]);
