extends layout

block content
  h1= title
  p Welcome to #{title}
  div Upload a file
  form(action="/photos", method="post", enctype="multipart/form-data")
    input(type="file", name="myPhoto")
    input(type="text", name="myText")
    input(type="submit")
