<link href="/vendor/polymer/polymer.html" rel="import">
<!--
/**
  * pook-fire-user represents current user
  * publishes uid
  *
  * @element pook-fire-user
 */
-->
<polymer-element name='pook-fire-user' attributes='uid, anonRedirect'>
  <template>
  </template>
  <script>
  (function() {

  "use strict";


  // gContainer contains values shared between all instances
  var gContainer = { uid: '', email: ''};

  var gAuthClient;
  function init() {
    if (gAuthClient) // only init once
      return;

    var ref = new Firebase('https://torid-inferno-6070.firebaseio.com/');
    gAuthClient = new FirebaseSimpleLogin(ref, function(err, user) {
      if (err)
        console.error(err);
      else {
        gContainer.uid = user ? user.uid : 'anonymous';
        gContainer.email = user ? user.email : '';
        // console.log('got user', user);
        /* user object is {
          email: "b@totic.org",
          id: "4", 
          isTemporaryPassword: false, 
          provider: "password", 
          uid: "simplelogin:4"
        }*/
      }
    });
    // Magic firebase location contains authentication status
  }
  init();

  var PookFireUser = {
    publish: {
      container: gContainer
    },
    computed: {
      uid: 'container.uid',
      uidUrl: '"https://torid-inferno-6070.firebaseio.com/users/" + container.uid',
      email: 'container.email'
    },
    ready: function() {
//      init();
    },
    logout: function() {
      gAuthClient.logout();
      window.location.pathname = '/';
    },
    uidChanged: function() {
      if (this.uid === 'anonymous' && this.anonRedirect)
      {
        document.querySelector('pook-flash').warn = 'not logged in';
        window.location.href = this.anonRedirect;
      }
    }
  }

  Polymer('pook-fire-user', PookFireUser);

})();


  </script>
</polymer-element>
