<link href="/vendor/polymer/polymer.html" rel="import">
<link href='/vendor/paper-button/paper-button.html' rel='import'>
<link rel='import' href='/views/el/pook-fire-user.html'>
<!--
  pook-photos-page displays all the user's photos

  @element pook-photos-page

-->

<polymer-element name='pook-photos-page'>
  <template>
    <style>
      .photoDiv {
        display: inline-block;
        margin: 2px;
        position: relative;
      }
      .photoDiv > .info {
        position: absolute;
        bottom: 4px;
        width: 100%;
        color: orange;
        text-align: right;
        text-shadow: black 0.1em 0.1em 0.2em;
        text-overflow: ellipsis;
        overflow:hidden;
      }
      .photoDiv > img {
        position: relative;
      }
      .photoDiv /deep/ progress {
        position: absolute;
        top: 8px;
        width: 100%;
        height: 12px;
      }

    </style>
    <paper-button on-click='{{createPhotoThing}}' raised>upload more</paper-button>
    <p> Here are all your photos</p>
    <template repeat="{{k, index in userPhotoKeys}}">
      {{ requestPhotoProxy(k) }}
      <template bind="{{calculateIconDims(user.photoCache[k].iconInfo, iconHeight) as info}}">
        <div class='photoDiv'>
          <img src="{{info.src}}" width="{{info.width}}" height="{{info.height}}"></img>
          <div class='info'>
            {{user.photoCache[k].data.displayName}}
          </div>
          <template if="{{user.photoCache[k].progress != -1}}">
            <progress value="{{user.photoCache[k].progress}}"></progress>
          </template>
        </div>
      </template>
   </template>
  </template>
  <style>
  </style>
  <script>
  "use strict";
  Polymer('pook-photos-page',{
    publish: {
      user: null,
      forceUserPhotos: 0, // increment to force userPhotos sync
      iconHeight: 196
    },
    computed: {
      // have to force recomputation of userPhotos
      userPhotoKeys: '{ obj: user.userPhotos, force: forceUserPhotos } | keysToArray'
    },
    observe: {
      'user.userPhotos': 'userPhotosChanged'
    },
    created: function() {
      this.user = document.createElement('pook-fire-user');
      this.user.requestDatabase('userPhotos');
      this.userPhotoObserver = null;
    },
    userPhotosChanged: function() {
      if (!this.user.userPhotos) {
        if (this.userPhotoObserver) {
          this.userPhotoObserver.close();
          this.userPhotoObserver = null;
          this.forceUserPhotos += 1;
        }
        return;
      }
      if (this.userPhotoObserver)
        return;
      var THIS = this;
      this.userPhotoObserver = new ObjectObserver(this.user.userPhotos);
      this.userPhotoObserver.open(function(added, removed, changed, getOldValue) {
        // console.log('userPhotos observed');
        THIS.forceUserPhotos += 1;
      });
    },
    createPhotoThing: function() {
      debugger;
    },
    keysToArray: function(o) {
      var retVal = [];
      for (var k in o.obj)
        retVal.push(k);
      return retVal;
    },
    requestPhotoProxy: function(photoId) {
      this.user.requestPhotoProxy(photoId);
    },
    calculateIconDims: function(iconInfo, iconHeight) {
      var enclosure = new Rect({width: iconHeight * 1.33, height: iconHeight });
      var iconRect = new Rect( iconInfo);
      iconRect = iconRect.scaleBy(iconRect.fitInside(enclosure));
      return {
        src: iconInfo.src,
        width: iconRect.width,
        height: iconRect.height
      }
    }
  });
  </script>
</polymer-element> 
