<link href="/vendor/polymer/polymer.html" rel="import">
<link href="/views/el/pook-fire-user.html" rel="import">

<link href="/vendor/paper-input/paper-input.html" rel="import">
<link href
<!--
/**
  * Security editor 
  *
  * @element pook-security-editor
  */
-->
<polymer-element name='pook-security-editor'>
  <template>
    <style>
      paper-button {
        margin: 8px;
        min-width: 300px;
        width: auto;
      }
      paper-input {
        width: auto;
      }
    </style>
    <firebase-login id='firebaseLogin' 
      location='https://torid-inferno-6070.firebaseio.com/' 
      provider='password'
      on-error='{{firebaseError}}'
      on-password-changed='{{passwordChanged}}'
    ></firebase-login>
    <div vertical layout>
      <p>Change your password?</p>
      <paper-input id='oldPassword' label='Old password' type='password' required floatingLabel></paper-input> 
      <paper-input id='newPassword' label='New password' type='password' required floatingLabel></paper-input>
      <div>
        <paper-button on-click='{{changePassword}}' raised>Change password</paper-button>
      </div>
    </div>
    <!--
    Changing email, got to wait for Firebase to do it:
    Sorry for taking a few days to get back to you. The current login API does not offer a method to change a user's email address. If you want that functionality at the moment, you need to manage it yourself. Using a guid sounds like a good way to do that. You will just need some way to map the user's current and previous email address to the same user.

This is definitely high on our list of features to implement for Simple Login. As you can imagine, there are many edge cases here and it is not a minor feature. We do have it on our longterm roadmap though and you will hopefully be seeing it sooner rather than later.
    -->
  </template>
  <script>
  Polymer('pook-security-editor', {
    publish: {
      fireAccount: null,
      userElement: null
    },
    ready: function() {
      this.userElement = document.createElement('pook-fire-user');
    },
    get flash() {
      return document.querySelector('pook-flash');
    },
    changePassword: function() {
      this.$.firebaseLogin.changePassword( this.userElement.email, 
        this.$.oldPassword.value, 
        this.$.newPassword.value );
    },
    firebaseError: function(errorEv) {
      this.flash.error = 'Password could not be changed. Try again.\n' + errorEv.detail.message;
    },
    passwordChanged: function() {
      debugger;
      this.flash.message = 'Password changed succcesfully.'
    }
  });
  </script>
</polymer-element>

