<link href="/vendor/polymer/polymer.html" rel="import">
<!--
/**
	* pook-user represents current user
	* 'pook-user'.debug=true displays debug information 
	*
	* <pook-user user=JSON.stringify(user)>
	*
	* @element pook-user
 */
-->
<polymer-element name='pook-user' attributes='user, photos'>
	<template >
		<template if="{{debug}}" >
			<pre>
				Id: {{user.itemId}}
				Email: {{user.email}}
			</pre>
		</template>
	</template>
	<style>
		pre {
			user-select: text;
			webkit-user-select: text;
		}
	</style>
	<script>
	(function() {

	"use strict";
	// Globals
	var gUser; // Current user
	var gPhotos; // User's photos

	function setCurrentUser(user, photos) {
		if (gUser)
			console.warn("current user declared more than once");
		gUser = user;
		gPhotos = photos;
	};

	var PookUserPrototype = {
		publish: {
			user: { 
				value: { }
			},
			photos: {
				value: []
			},
			debug: false
		},
		ready: function() {
			if (!('email' in this.user)) {
				this.photos = gPhotos;
				this.user = gUser;
			}
			else
				setCurrentUser(this.user, this.photos);
		}
	};

	Polymer('pook-user', PookUserPrototype);

	})();
	</script>
</polymer-element>
