<link href="/vendor/polymer/polymer.html" rel="import">
<link href="/vendor/core-dropdown/core-dropdown.html" rel="import">
<link href="/vendor/core-item/core-item.html" rel="import">
<!--
  Simple state dropdown
-->
<polymer-element name='pook-state-dropdown' attributes='selected' noscript>
<template>
  <core-dropdown label='State...' selected="{{selected}}" valueattr='code'>
    <core-item label="Alabama" code="AL"></core-item>
    <core-item label="Alaska" code="AK"></core-item>
    <core-item label="Arizona" code="AZ"></core-item>
    <core-item label="Arkansas" code="AR"></core-item>
    <core-item label="California" code="CA"></core-item>
    <core-item label="Colorado" code="CO"></core-item>
    <core-item label="Connecticut" code="CT"></core-item>
    <core-item label="Delaware" code="DE"></core-item>
    <core-item label="District of Columbia" code="DC"></core-item>
    <core-item label="Florida" code="FL"></core-item>
    <core-item label="Georgia" code="GA"></core-item>
    <core-item label="Hawaii" code="HI"></core-item>
    <core-item label="Idaho" code="ID"></core-item>
    <core-item label="Illinois" code="IL"></core-item>
    <core-item label="Indiana" code="IN"></core-item>
    <core-item label="Iowa" code="IA"></core-item>
    <core-item label="Kansas" code="KS"></core-item>
    <core-item label="Kentucky" code="KY"></core-item>
    <core-item label="Louisiana" code="LA"></core-item>
    <core-item label="Maine" code="ME"></core-item>
    <core-item label="Maryland" code="MD"></core-item>
    <core-item label="Massachusetts" code="MA"></core-item>
    <core-item label="Michigan" code="MI"></core-item>
    <core-item label="Minnesota" code="MN"></core-item>
    <core-item label="Mississippi" code="MS"></core-item>
    <core-item label="Missouri" code="MO"></core-item>
    <core-item label="Montana" code="MT"></core-item>
    <core-item label="Nebraska" code="NE"></core-item>
    <core-item label="Nevada" code="NV"></core-item>
    <core-item label="New Hampshire" code="NH"></core-item>
    <core-item label="New Jersey" code="NJ"></core-item>
    <core-item label="New Mexico" code="NM"></core-item>
    <core-item label="New York" code="NY"></core-item>
    <core-item label="North Carolina" code="NC"></core-item>
    <core-item label="North Dakota" code="ND"></core-item>
    <core-item label="Ohio" code="OH"></core-item>
    <core-item label="Oklahoma" code="OK"></core-item>
    <core-item label="Oregon" code="OR"></core-item>
    <core-item label="Pennsylvania" code="PA"></core-item>
    <core-item label="Rhode Island" code="RI"></core-item>
    <core-item label="South Carolina" code="SC"></core-item>
    <core-item label="South Dakota" code="SD"></core-item>
    <core-item label="Tennessee" code="TN"></core-item>
    <core-item label="Texas" code="TX"></core-item>
    <core-item label="Utah" code="UT"></core-item>
    <core-item label="Vermont" code="VT"></core-item>
    <core-item label="Virginia" code="VA"></core-item>
    <core-item label="Washington" code="WA"></core-item>
    <core-item label="West Virginia" code="WV"></core-item>
    <core-item label="Wisconsin" code="WI"></core-item>
    <core-item label="Wyoming" code="WY"></core-item>
  </core-dropown>
</template>
</polymer-element>
