<link href="/vendor/polymer/polymer.html" rel="import">
<link href="/vendor/core-drawer-panel/core-drawer-panel.html" rel="import">
<link href="/vendor/core-header-panel/core-header-panel.html" rel="import">
<link href="/vendor/core-item/core-item.html" rel="import">
<link href="/vendor/core-menu/core-menu.html" rel="import">
<link href="/vendor/core-pages/core-pages.html" rel="import">
<link href="/vendor/core-toolbar/core-toolbar.html" rel="import">
<link href="/vendor/paper-icon-button/paper-icon-button.html" rel="import">
<link href="/vendor/paper-item/paper-item.html" rel="import">

<link href="/views/el/pook-account-editor.html" rel="import">
<link href="/views/el/pook-fire-user.html" rel="import">
<link href="/views/el/pook-security-editor.html" rel="import">

<polymer-element name='pook-main-app'>
  <template>
   <style>    
      core-toolbar, core-toolbar::shadow .toolbar-tools {
        height: 36px;
      }
      [drawer] {
        background-color: #E9EDEF;
      }
      core-pages {
      }
      paper-item.core-selected::shadow div {
        font-weight: bold;
      }

      core-pages > * {
        margin: 0 8px 0 8px;
      }

    </style>

    <pook-fire-user id='fireUser' anonRedirect='/'></pook-fire-user>
    <pook-body-file-drop on-file-dropped='{{fileDropped}}'></pook-body-file-drop>
    <core-drawer-panel id='drawerPanel' drawerWidth="8em">
      <core-header-panel drawer>
        <core-toolbar></core-toolbar>
        <core-menu id='menu' on-core-select="{{selectPane}}" selected="0">
          <paper-item icon='account-box' label='account'></paper-item>
          <paper-item icon='https' label='security'></paper-item>
          <paper-item icon='drive-drawing' label='photos'></paper-item>
          <paper-item icon='content-copy' label='books'></paper-item>
        </core-menu>
      </core-header-panel>
      <core-header-panel flex main>
        <core-toolbar>
          <paper-icon-button id="navicon" 
            icon="menu" 
            on-down="{{toggleDrawer}}" 
            style="display:{{$.drawerPanel.narrow ? 'inline-block' : 'none'}}"
          ></paper-icon-button>
          <span flex>node.pook.io</span>
          <paper-button label='logout' on-click='{{logout}}'></paper-button>
        </core-toolbar>
        <div class='content'>
          <core-pages id='pages' selected='{{$.menu.selected}}'>
            <pook-account-editor hash='account'></pook-account-editor>
            <pook-security-editor hash='security'></pook-security-editor>
            <pook-photos-page hash='photos'></pook-photos-page>
            <div>books</div>
          </core-pages>
        </div>
      </core-header-panel>
    </core-drawer-panel>
  </template>
  <script>
  Polymer('pook-main-app', {
    ready: function() {
      this.selectPaneByHash();
    },
    selectPaneByHash: function() {
      if (!window.location.hash)
        return;
      var pane = this.$.pages.querySelector('[hash=' + window.location.hash.slice(1) + ']');
      if (pane) {
        for (var i=0; i<pane.parentNode.children.length; i++)
          if (pane.parentNode.children.item(i) == pane)
            this.$.menu.selected = i;
      }
    },
    selectPane: function(ev, detail) {
      window.location.hash = ev.detail.item.label;
      this.$.drawerPanel.closeDrawer();
    },
    logout: function() {
      this.$.fireUser.logout();
    },
    toggleDrawer: function() {
      this.$.drawerPanel.togglePanel();
    },
    fileDropped: function(ev) {
      this.$.fireUser.addPhotoFile(ev.detail);
    }
  });
  </script>
</polymer-element>

