<link href="/vendor/polymer/polymer.html" rel="import">
<!--
/**
	* pook-user represents current user
	* 'pook-user'.debug=true displays debug information 
	*
	* <pook-user user=JSON.stringify(user)>
	*
	* @element pook-user
 */
-->
<polymer-element name='pook-user' attributes='user, photos'>
	<template >
		<template if="{{debug}}" >
			<pre>
				Id: {{user.itemId}}
				Email: {{user.email}}
			</pre>
		</template>
	</template>
	<style>
		pre {
			user-select: text;
			webkit-user-select: text;
		}
	</style>
	<script>
	(function() {

	"use strict";

	// Globals
	var gUser; // Current user
	var gPhotos; // User's photos

	function setCurrentUser(user, photos) {
		if (gUser)
			console.warn("current user declared more than once");
		gUser = user;
		gPhotos = photos;
	};

	function getBlankImageUrl() {
		return "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
	}

	var PookUserPrototype = {
		publish: {
			user: { 
				value: { }
			},
			photos: {
				value: []
			},
			// images get served from here
			s3url: "http://pookio-test.s3-website-us-west-2.amazonaws.com/",
			debug: false
		},
		ready: function() {
			if (!('email' in this.user)) {
				this.photos = gPhotos;
				this.user = gUser;
			}
			else
				setCurrentUser(this.user, this.photos);
		},

// Model manipulation
		/** @returns img src for photo at resolution */
		photoSrc: function(photo, resolution) {
			if (!resolution)
				resolution = 1024;
			if ('s3id' in photo && photo.s3id) {
				var suffix = "";
				switch(resolution) {
					case 256: // suffix  = '~256'
					case 1024: // suffix = '~1024'
					default: 
						; // noop
				}
				return "http://pookio-test.s3-website-us-west-2.amazonaws.com/" + photo.s3id + suffix;
			}
			else 
				return getBlankImageUrl();
		},
		createPhoto: function() {
			var photo = {
				createdAt: (new Date()).toISOString(),
				displayName: "new",
				height: "1024",
				itemId: null,
				md5: null,
				ownerId: null,
				s3id: null,
				width: "768"
			}
			gPhotos.push(photo);
			return photo;
		},
		/** @returns photo idx, -1 if not there */
		findPhotoById: function(photoId) {
			for (var i=0; i<this.photos.length; i++)
				if (this.photos[i].itemId == photoId)
					return i;
			return -1;
		}
	};

	Polymer('pook-user', PookUserPrototype);

	})();
	</script>
</polymer-element>
