
<!--
	pook-body-file-drop broadcasts file drops on body.

	@element pook-body-file-drop

	@event file-dropped
	Fire when file has been dropped, event.detail is FileObject

 */
-->

<polymer-element name='pook-body-file-drop'>
	<template>
	</template>
	<style>
	</style>
	<script>
	Polymer('pook-body-file-drop',{
		publish: {
			/** 
			 * filter acceptable file types, default to images 
			 * @attribute fileTypeRegex
			 * @type string
			 * @default image files
			 */
			fileTypeRegex: "image/(png|jpeg|gif)"
		},
		ready: function(){
			var listen = function(evName) {
				document.addEventListener(evName, this[evName].bind(this));
			}.bind(this);
			listen('dragenter');
			// listen('dragleave');
			listen('dragover');
			listen('drop');
			listen('dragleave');
		},
		dragenter: function(ev) {
			this.isDragging = this.getFiles(ev);
			ev.preventDefault();
		},
		dragover: function(ev) {
			if (this.isDragging) {
				document.body.setAttribute('drop-active', 1);
				ev.preventDefault();
			}
		},
		dragleave: function(ev) {
			if (this.isDragging)
				document.body.removeAttribute('drop-active');
			console.log('dragleave');
		},
		drop: function(ev) {
			ev.preventDefault();
			ev.stopPropagation();
			document.body.removeAttribute('drop-active');
			// console.log('drop');

			var files = this.applyFileTypeFilter( this.getFiles(ev) );
			if (!files)
				document.querySelector('pook-flash').warn = 'Files not uploaded. Files must be images (jpg/gif/png';
			else {
	      for (var i=0; i<files.length; i++)
	      	this.fire('file-dropped', files[i]);
			}
		},
		// returns array of files, or null
		getFiles: function(ev) {
			var dataTransfer = ev.dataTransfer;
			if (dataTransfer.files && dataTransfer.files.length > 0) {
				// console.log('got files');
				return dataTransfer.files;
			}
			else if (dataTransfer.types) {
				// console.log('got file type');
				if ('contains' in dataTransfer.types)	// Firefox
					return dataTransfer.types.contains("Files");
				else // Chrome
					return dataTransfer.types.indexOf("Files") != -1;
			}
			return null;
		},
		// filters
		applyFileTypeFilter: function(files) {
			if (!files)
				return null;
			var retVal = [];
			for (var i=0; i<files.length; i++) {
				var f = files.item(i);
				if (f.type.match( this.fileTypeRegex ))
					retVal.push(f);
			}
			return retVal;
		}
	});
	</script>
</polymer-element> 
