<link href="/vendor/polymer/polymer.html" rel="import">
<link href='/vendor/core-icons/core-icons.html' rel='import'>
<link href='/vendor/paper-icon-button/paper-icon-button.html' rel='import'>
<polymer-element name='pook-flash' constructor='PookFlash'>
	<template>
		<style>
		:host {
			position: fixed;
			top: 50px;
			left: 24px;
			min-width:50%;
		}
		div {
			position: relative;
			padding: 10px;
			padding-right: 34px;
			border: 1px solid #EBCCD1;
			border-radius: 4px;
			margin: 0 24px 0 24px;
			min-width:50%;
		}
		#error {
			color: #A94442;
			background-color: #F2DEDE;
			border-color: #EBCCD1;
			}
		#warn {
			color: #8A6D3B;
			background-color: #FCF8E3;
			border-color: #FAEBCC;
		}
		#message {
			color: #31708F;
			background-color: #D9EDF7;
			border-color: #BCE8F1;
		}
		paper-icon-button {
			position: absolute;
			right: 0px;
			top:0px;
		}
		</style>
		<template if='{{error}}'>
			<div id='error'>
				{{error}}
				<paper-icon-button icon=close></paper-icon-button>
			</div>
		</template>
		<template if='{{warn}}'>
			<div id='warn'>
				{{warn}}
				<paper-icon-button icon=close></paper-icon-button>
			</div>
		</template>
		<template if='{{message}}'>
			<div id='message'>
				{{message}}
				<paper-icon-button icon=close></paper-icon-button>
			</div>
		</template>
	</template>
	<script>
		Polymer('pook-flash', {
			error: 'err',
			warn: 'warn',
			message: 'msg',

		});
	</script>
</polymer-element>
