@import url('normalize.css');

body {
	background-color: #FFF;
	/*margin: 8px 8px 8px 8px;*/
}

/* border-box sizing everywhere */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* /deep/ * {
  box-sizing: inherit;
}

[drop-active] {
  background-color: #F0ECD7;
}

p {
	margin: 0.25em 0 0.25em 0;
}

.small {
	font-size: smaller;
}

/* Make button not be all-caps */
* paper-button {
  text-transform: none;
}
* /deep/ paper-button, * paper-button {
  text-transform: none;
}


/* stop ios highlight of clicks */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/* animations needed in regular dom are copied here from pook-styles.html */
.expand-open {
                     animation-name: expand-open;
             -webkit-animation-name: expand-open; 
                 animation-duration: 0.1s; 
         -webkit-animation-duration: 0.1s;
          animation-timing-function: ease-in;  
  -webkit-animation-timing-function: ease-in;  
}

@-webkit-keyframes expand-open {
  0% { -webkit-transform: scale(0.5); }
  100% { -webkit-transform: scale(1.0); }
}

@keyframes expand-open {
  0% { transform: scale(0.5); }
  100% { transform: scale(1.0); }
}

.drag-div {
  position: absolute;
  opacity: 0.9;
}
