@import url('normalize.css');

body {
	background-color: #FFF;
	/*margin: 8px 8px 8px 8px;*/
}

/* border-box sizing everywhere */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* /deep/ * {
  box-sizing: inherit;
}

[drop-active] {
  background-color: #F0ECD7;
}

p {
	margin: 0.25em 0 0.25em 0;
}

.small {
	font-size: smaller;
}

/* Make button not be all-caps */
* paper-button {
  text-transform: none;
}
* /deep/ paper-button, * paper-button {
  text-transform: none;
}


/* stop ios highlight of clicks */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
