@import url('normalize.css');

body {
	background-color: #FFF;
	margin: 8px 8px 8px 8px;
}

p {
	margin: 0.25em 0 0.25em 0;
}

.small {
	font-size: smaller;
}

* /deep/ paper-button {
  text-transform: none;
}
