extends layout

block content
  h1= title
  p Welcome to #{title}
  div Upload a file
  form(action="/photos", method="post", enctype="multipart/form-data")
    input(type="file", name="myPhoto")
    input(type="text", name="myText")
    input(type="submit")
  div Register
  form(action="/auth/register", method="post", enctype='application/x-www-form-urlencoded')
    label Email:
      input(type="text", name="myPhoto")
    label Password:
      input(type="text", name="myText")
    input(type="submit")
