extends layout

block content
  h1= title
  p Welcome to #{title}
  div Upload a file
  form(action="/photos", method="post", enctype="multipart/form-data")
    input(type="file", name="myPhoto")
    input(type="text", name="myText")
    input(type="submit")
  div Register
  form(action="/auth/register", method="post")
    label Email:
      input(type="text", name="email")
    label Password:
      input(type="text", name="password" pattern=".{8,}")
    input(type="submit", value="Register")
  div Login
  form(action="/auth/login", method="post")
    label Email:
      input(type="text", name="email")
    label Password:
      input(type="text", name="password" pattern=".{8,}")
    input(type="submit", value="Login")
