extends layout

block content
  core-style(ref="main")
  pook-flash
  h1= title
  pook-auth-ui

  script.
    function init() {
      console.log("ready");
    }
    window.addEventListener('polymer-ready', init);

  div(style="display:none")
    form#login(is='pook-form', action="/auth/login", method="post")
      h3 Login
      label Email:
        br
        input(type="text", name="email")
      br
      label Password:
        br
        input(type="password", name="password" pattern=".{8,}")
      br
      label
        input(type='checkbox')
        | keep me logged in for 30 days
      input(type="submit", value="Login")
      p.small Forgot your password?
      p#showRegistration.small Would you like to register?
    form#register(is='pook-form', action="/auth/register", method="post", style='display:none')
      h3 Register
      label Email:
        br
        input(type="text", name="email")
      br
      label Password:
        br
        input(type="password", name="password" pattern=".{8,}")
      br
      input(type="submit", value="Register")
      p#showLogin.small Login instead?


  style.
    #showRegistration, #showLogin { cursor: pointer }
  script.
    function showUser() { window.location.pathname = '/user'; }
    document.querySelector('#login').addEventListener('success', showUser);
    document.querySelector('#register').addEventListener('success', showUser);

    document.querySelector('#showRegistration').addEventListener('click', function(xhr) {
      document.querySelector('#login').style.display = 'none';
      document.querySelector('#register').style.display = 'block';
    });
    document.querySelector('#showLogin').addEventListener('click', function(xhr) {
      document.querySelector('#login').style.display = 'block';
      document.querySelector('#register').style.display = 'none';
    });

