extends layout

block content
  link(rel='import', href='views/el/pook-flash.html')
  link(rel='import', href='views/el/pook-form.html')
  pook-flash
  h1= title
  pre
    | PHOTO BOOK HERE 

  form#login(is='pook-form', action="/auth/login", method="post")
    h3 Login
    label Email:
      br
      input(type="text", name="email")
    br
    label Password:
      br
      input(type="password", name="password" pattern=".{8,}")
    br
    input(type="submit", value="Login")

  script.
    document.querySelector('#login').addEventListener('success', function(xhr) {
      window.location.pathname = '/users';
    });

  div(style='margin-top: 100px') Upload a file
  form(action="/photos", method="post", enctype="multipart/form-data")
    input(type="file", name="myPhoto")
    input(type="text", name="myText")
    input(type="submit")
  div Register
  form(action="/auth/register", method="post")
    label Email:
      input(type="text", name="email")
    label Password:
      input(type="text", name="password" pattern=".{8,}")
    input(type="submit", value="Register")
  div Login
