doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/global.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    script(src="/vendor/webcomponentsjs/webcomponents.js")
    link(rel='import', href='/vendor/polymer/polymer.html')
    link(rel='import', href='/vendor/sanity-check/sanity-check.html')
    link(rel='import', href='/elements/pook-all.html')
    //- link(rel='import', href='/elements/vulcanized.html')
  body
    sanity-check
    append content
