doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/global.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src="/vendor/platform/platform.js")
    link(rel='import', href='/vendor/polymer/polymer.html')
    link(rel='import', href='/vendor/paper-input/paper-input.html')

    link(rel="import", href="/vendor/firebase-elements/firebase-login.html") 
    link(rel='import', href='/views/el/pook-all.html')

  body
    append content
