doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/global.css')
    script(src="/vendor/platform-dev/platform.js")
    link(rel="import", href="/vendor/firebase-elements/firebase-login.html") 
    link(rel='import', href='/views/el/pook-all.html')
  body
    append content
