doctype html
html
  head
    title Polymer playground
    link(rel='stylesheet', href='/css/global.css')
      
    script(src="/vendor/platform/platform.js")
    link(rel='import', href='/vendor/polymer/polymer.html')
    link(rel='import', href='/vendor/paper-input/paper-input.html')
  body
    p Hi there
    paper-input(label="hi")
    script.
      function init() {
        console.log("ready");
      }
      window.addEventListener('polymer-ready', init);
